<form action="/recipes" method="post">
  <label for="recipe_name">Name</label><br>
  <input id="recipe_name" type="text" name="name"><br>
  <label for="recipe_ingredients">Ingredients</label><br>
  <input id="recipe_ingredients" type="text" name="ingredients"><br>
  <label for="recipe_cook_time">Cook Time</label><br>
  <input id="recipe_cook_time" type="text" name="cook_time"><br>
  <input type="submit" value="Submit">
</form>
