
<H1>Submit new recipe</H1>
<form action="/recipes" method="POST">
  Recipe Name:<br>
  <input type="text" name="name"><br>
  Recipe:<br>
  <input type="text" name="ingredients">
  Cooktime in Min:<input type="number" name="cook_time">
   <input type="submit" value="Submit">
</form>
